# Pandas basics

In [1]:
!ls

01-pandas basics.ipynb continent_facts.csv    countries.csv

In [2]:
!pwd

/Users/jakerosenwasser/Desktop/06-classwork

In [3]:
%pip install --quiet pandas

Note: you may need to restart the kernel to use updated packages.

In [4]:
!pip install pandas

Requirement already satisfied: pandas in /Users/jakerosenwasser/.pyenv/versions/3.11.8/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /Users/jakerosenwasser/.pyenv/versions/3.11.8/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jakerosenwasser/.pyenv/versions/3.11.8/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/jakerosenwasser/.pyenv/versions/3.11.8/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/jakerosenwasser/.pyenv/versions/3.11.8/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/jakerosenwasser/.pyenv/versions/3.11.8/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
 pip -- help

Usage:
  /Users/jakerosenwasser/.pyenv/versions/3.11.8/bin/python3.11 -m pip <command> [options]

Commands:
  install                     Install packages.
  download                    Download packages.
  uninstall                   Uninstall packages.
  freeze                      Output installed packages in requirements format.
  inspect                     Inspect the python environment.
  list                        List installed packages.
  show                        Show information about installed packages.
  check                       Verify installed packages have compatible dependencies.
  config                      Manage local and global configuration.
  search                      Search PyPI for packages.
  cache                       Inspect and manage pip's wheel cache.
  index                       Inspect information available from package indexes.
  wheel                       Build wheels from your requirements.
  hash                        Compute hashes of package archives.
  completion                  A helper command used for command completion.
  debug                       Show information useful for debugging.
  help                        Show help for commands.

General Options:
  -h, --help                  Show help.
  --debug                     Let unhandled exceptions propagate outside the
                              main subroutine, instead of logging them to
                              stderr.
  --isolated                  Run pip in an isolated mode, ignoring
                              environment variables and user configuration.
  --require-virtualenv        Allow pip to only run in a virtual environment;
                              exit with an error otherwise.
  --python <python>           Run pip with the specified Python interpreter.
  -v, --verbose               Give more output. Option is additive, and can be
                              used up to 3 times.
  -V, --version               Show version and exit.
  -q, --quiet                 Give less output. Option is additive, and can be
                              used up to 3 times (corresponding to WARNING,
                              ERROR, and CRITICAL logging levels).
  --log <path>                Path to a verbose appending log.
  --no-input                  Disable prompting for input.
  --keyring-provider <keyring_provider>
                              Enable the credential lookup via the keyring
                              library if user input is allowed. Specify which
                              mechanism to use [disabled, import, subprocess].
                              (default: disabled)
  --proxy <proxy>             Specify a proxy in the form
                              scheme://[user:passwd@]proxy.server:port.
  --retries <retries>         Maximum number of retries each connection should
                              attempt (default 5 times).
  --timeout <sec>             Set the socket timeout (default 15 seconds).
  --exists-action <action>    Default action when a path already exists:
                              (s)witch, (i)gnore, (w)ipe, (b)ackup, (a)bort.
  --trusted-host <hostname>   Mark this host or host:port pair as trusted,
                              even though it does not have valid or any HTTPS.
  --cert <path>               Path to PEM-encoded CA certificate bundle. If
                              provided, overrides the default. See 'SSL
                              Certificate Verification' in pip documentation
                              for more information.
  --client-cert <path>        Path to SSL client certificate, a single file
                              containing the private key and the certificate
                              in PEM format.
  --cache-dir <dir>           Store the cache data in <dir>.
  --no-cache-dir              Disable the cache.
  --disable-pip-version-check
                              Don't periodically check PyPI to determine
                              whether a new version of pip is available for
                              download. Implied with --no-index.
  --no-color                  Suppress colored output.
  --no-python-version-warning
                              Silence deprecation warnings for upcoming
                              unsupported Pythons.
  --use-feature <feature>     Enable new functionality, that may be backward
                              incompatible.
  --use-deprecated <feature>  Enable deprecated functionality, that will be
                              removed in the future.
Note: you may need to restart the kernel to use updated packages.

In [6]:
import requests

In [7]:
import requests

In [8]:
import pandas

In [10]:
import pandas

In [11]:
import pandas as pd

In [13]:
df = pd.read_csv("countries.csv")

In [14]:
df

,country,continent,life_expectancy,population,gdp
0,Afghanistan,Asia,54.863,22856302,15153728226
1,Albania,Europe,74.200,3071856,12886435920
2,Algeria,Africa,68.963,30533827,155661450046
3,Angola,Africa,45.234,13926373,34063908358
4,Antigua and Barbuda,N. America,73.544,77656,989182128
...,...,...,...,...,...
183,Vietnam,Asia,73.777,78758010,124201381770
184,West Bank and Gaza,Asia,70.929,3198560,24264276160
185,"Yemen, Rep.",Asia,60.404,17723186,39292303362
186,Zambia,Africa,41.802,10201562,10558616670
187,Zimbabwe,Africa,43.976,12509477,9319560365

In [15]:
df.head()

               country   continent  life_expectancy  population           gdp
0          Afghanistan        Asia           54.863    22856302   15153728226
1              Albania      Europe           74.200     3071856   12886435920
2              Algeria      Africa           68.963    30533827  155661450046
3               Angola      Africa           45.234    13926373   34063908358
4  Antigua and Barbuda  N. America           73.544       77656     989182128

                country continent  life_expectancy  population           gdp
183             Vietnam      Asia           73.777    78758010  124201381770
184  West Bank and Gaza      Asia           70.929     3198560   24264276160
185         Yemen, Rep.      Asia           60.404    17723186   39292303362
186              Zambia    Africa           41.802    10201562   10558616670
187            Zimbabwe    Africa           43.976    12509477    9319560365

In [22]:
df.sort_values('life_expectancy')

,country,continent,life_expectancy,population,gdp
147,Sierra Leone,Africa,38.123,4143115,2141990455
186,Zambia,Africa,41.802,10201562,10558616670
31,Central African Rep.,Africa,43.727,3701607,2820624534
187,Zimbabwe,Africa,43.976,12509477,9319560365
3,Angola,Africa,45.234,13926373,34063908358
...,...,...,...,...,...
160,Sweden,Europe,79.840,8860153,253754781920
7,Australia,Oceania,79.930,19164351,560384787591
161,Switzerland,Europe,79.990,7167908,246475684488
72,"Hong Kong, China",Asia,80.361,6783317,203309577124
83,Japan,Asia,81.350,125720310,3590446333290

In [27]:
df.sort_values('life_expectancy', ascending=False).head(10)

              country   continent  life_expectancy  population            gdp
83              Japan        Asia           81.350   125720310  3590446333290
72   Hong Kong, China        Asia           80.361     6783317   203309577124
161       Switzerland      Europe           79.990     7167908   246475684488
7           Australia     Oceania           79.930    19164351   560384787591
160            Sweden      Europe           79.840     8860153   253754781920
81              Italy      Europe           79.730    56986329  1547748695640
74            Iceland      Europe           79.720      281210     8743381320
29             Canada  N. America           79.410    30667365   995094659520
155             Spain      Europe           79.340    40288457   943152778370
57             France      Europe           79.230    59047795  1690892657620

In [26]:
df['country'], ['life_expectancy']

(0              Afghanistan
 1                  Albania
 2                  Algeria
 3                   Angola
 4      Antigua and Barbuda
               ...
 183                Vietnam
 184     West Bank and Gaza
 185            Yemen, Rep.
 186                 Zambia
 187               Zimbabwe
 Name: country, Length: 188, dtype: object,
 ['life_expectancy'])

In [28]:
df [['life_expectancy', 'country']]

     life_expectancy              country
0             54.863          Afghanistan
1             74.200              Albania
2             68.963              Algeria
3             45.234               Angola
4             73.544  Antigua and Barbuda
..               ...                  ...
183           73.777              Vietnam
184           70.929   West Bank and Gaza
185           60.404          Yemen, Rep.
186           41.802               Zambia
187           43.976             Zimbabwe

[188 rows x 2 columns]

In [29]:
df.sort_values('life_expectancy').head()

                  country continent  life_expectancy  population          gdp
147          Sierra Leone    Africa           38.123     4143115   2141990455
186                Zambia    Africa           41.802    10201562  10558616670
31   Central African Rep.    Africa           43.727     3701607   2820624534
187              Zimbabwe    Africa           43.976    12509477   9319560365
3                  Angola    Africa           45.234    13926373  34063908358

In [30]:
df.sort_values('life_expectancy').head().tail()

                  country continent  life_expectancy  population          gdp
147          Sierra Leone    Africa           38.123     4143115   2141990455
186                Zambia    Africa           41.802    10201562  10558616670
31   Central African Rep.    Africa           43.727     3701607   2820624534
187              Zimbabwe    Africa           43.976    12509477   9319560365
3                  Angola    Africa           45.234    13926373  34063908358

In [37]:
df['life_expectancy'].mean()

66.50153603526596

In [38]:
df['life_expectancy'].median()

70.04150000000001

In [40]:
df['life_expectancy'].describe()

count    188.000000
mean      66.501536
std       10.298458
min       38.123000
25%       59.663750
50%       70.041500
75%       74.134500
max       81.350000
Name: life_expectancy, dtype: float64

In [41]:
df[['life_expectancy', 'gdp']].corr()

                 life_expectancy       gdp
life_expectancy         1.000000  0.209858
gdp                     0.209858  1.000000

In [45]:
df['gdp_per_capita'] = df['gdp'] / df['population']

In [47]:
df.groupby('continent') ['life_expectancy'].median()

continent
Africa        52.1025
Asia          70.4275
Europe        75.5800
N. America    70.5765
Oceania       67.4955
S. America    70.7660
Name: life_expectancy, dtype: float64

In [48]:
df['continent'].value_counts()

continent
Africa        54
Asia          48
Europe        42
N. America    22
S. America    12
Oceania       10
Name: count, dtype: int64

In [49]:
df['continent'].counts()

AttributeError: 'Series' object has no attribute 'counts'

In [50]:
df['continent'].count()

188

In [59]:
df = pd.read_html 
url = https://www.theguardian.com/football/laligafootball/table

SyntaxError: invalid syntax (4116737296.py, line 2)

In [55]:
pd.read_html(url)

[     P            Team  GP   W   D   L   F   A  GD  Pts  \
 0    1     Real Madrid  38  29   8   1  87  26  61   95
 1    2       Barcelona  38  26   7   5  79  44  35   85
 2    3          Girona  38  25   6   7  85  46  39   81
 3    4        Atlético  38  24   4  10  70  43  27   76
 4    5        A Bilbao  38  19  11   8  61  37  24   68
 5    6   Real Sociedad  38  16  12  10  51  39  12   60
 6    7      Real Betis  38  14  15   9  48  45   3   57
 7    8      Villarreal  38  14  11  13  65  65   0   53
 8    9        Valencia  38  13  10  15  40  45  -5   49
 9   10          Alaves  38  12  10  16  36  46 -10   46
 10  11         Osasuna  38  12   9  17  45  56 -11   45
 11  12          Getafe  38  10  13  15  42  54 -12   43
 12  13      Celta Vigo  38  10  11  17  46  57 -11   41
 13  14         Sevilla  38  10  11  17  48  54  -6   41
 14  15        Mallorca  38   8  16  14  33  44 -11   40
 15  16      Las Palmas  38  10  10  18  33  47 -14   40
 16  17  Rayo Vallecano  38   8  14  16  29  48 -19   38
 17  18           Cadiz  38   6  15  17  26  55 -29   33
 18  19         Almeria  38   3  12  23  43  75 -32   21
 19  20         Granada  38   4   9  25  38  79 -41   21

                                                  Form
 0   Won 3-0 against Cadiz  Won 4-0 against Granada...
 1   Lost 2-4 to Girona  Won 2-0 against Real Socie...
 2   Won 4-2 against Barcelona  Drew 2-2 with Alave...
 3   Won 1-0 against Mallorca  Won 1-0 against Celt...
 4   Won 2-0 against Getafe  Drew 2-2 with Osasuna ...
 5   Won 2-0 against Las Palmas  Lost 0-2 to Barcel...
 6   Won 2-0 against Osasuna  Won 3-2 against Almer...
 7   Lost 2-3 to Celta Vigo  Won 3-2 against Sevill...
 8   Lost 0-1 to Alaves  Drew 0-0 with Rayo Valleca...
 9   Won 1-0 against Valencia  Drew 2-2 with Girona...
 10  Lost 0-2 to Real Betis  Drew 2-2 with A Bilbao...
 11  Lost 0-2 to A Bilbao  Lost 0-1 to Cadiz  Lost ...
 12  Won 3-2 against Villarreal  Lost 0-1 to Atléti...
 13  Won 3-0 against Granada  Lost 2-3 to Villarrea...
 14  Lost 0-1 to Atlético  Won 1-0 against Las Palm...
 15  Lost 0-2 to Real Sociedad  Lost 0-1 to Mallorc...
 16  Lost 0-1 to Almeria  Drew 0-0 with Valencia  W...
 17  Lost 0-3 to Real Madrid  Won 1-0 against Getaf...
 18  Won 1-0 against Rayo Vallecano  Lost 2-3 to Re...
 19  Lost 0-3 to Sevilla  Lost 0-4 to Real Madrid  ...  ]

In [56]:
len(tables)

NameError: name 'tables' is not defined

In [60]:
!pip install lxml

Requirement already satisfied: lxml in /Users/jakerosenwasser/.pyenv/versions/3.11.8/lib/python3.11/site-packages (4.9.4)

In [61]:

url = "https://www.theguardian.com/football/laligafootball/table"
tables = pd.read_html(url)
len(tables)

1

In [62]:
tables[0]

,P,Team,GP,W,D,L,F,A,GD,Pts,Form
0,1,Real Madrid,38,29,8,1,87,26,61,95,Won 3-0 against Cadiz Won 4-0 against Granada...
1,2,Barcelona,38,26,7,5,79,44,35,85,Lost 2-4 to Girona Won 2-0 against Real Socie...
2,3,Girona,38,25,6,7,85,46,39,81,Won 4-2 against Barcelona Drew 2-2 with Alave...
3,4,Atlético,38,24,4,10,70,43,27,76,Won 1-0 against Mallorca Won 1-0 against Celt...
4,5,A Bilbao,38,19,11,8,61,37,24,68,Won 2-0 against Getafe Drew 2-2 with Osasuna ...
5,6,Real Sociedad,38,16,12,10,51,39,12,60,Won 2-0 against Las Palmas Lost 0-2 to Barcel...
6,7,Real Betis,38,14,15,9,48,45,3,57,Won 2-0 against Osasuna Won 3-2 against Almer...
7,8,Villarreal,38,14,11,13,65,65,0,53,Lost 2-3 to Celta Vigo Won 3-2 against Sevill...
8,9,Valencia,38,13,10,15,40,45,-5,49,Lost 0-1 to Alaves Drew 0-0 with Rayo Valleca...
9,10,Alaves,38,12,10,16,36,46,-10,46,Won 1-0 against Valencia Drew 2-2 with Girona...
10,11,Osasuna,38,12,9,17,45,56,-11,45,Lost 0-2 to Real Betis Drew 2-2 with A Bilbao...
11,12,Getafe,38,10,13,15,42,54,-12,43,Lost 0-2 to A Bilbao Lost 0-1 to Cadiz Lost ...
12,13,Celta Vigo,38,10,11,17,46,57,-11,41,Won 3-2 against Villarreal Lost 0-1 to Atléti...
13,14,Sevilla,38,10,11,17,48,54,-6,41,Won 3-0 against Granada Lost 2-3 to Villarrea...
14,15,Mallorca,38,8,16,14,33,44,-11,40,Lost 0-1 to Atlético Won 1-0 against Las Palm...
15,16,Las Palmas,38,10,10,18,33,47,-14,40,Lost 0-2 to Real Sociedad Lost 0-1 to Mallorc...
16,17,Rayo Vallecano,38,8,14,16,29,48,-19,38,Lost 0-1 to Almeria Drew 0-0 with Valencia W...
17,18,Cadiz,38,6,15,17,26,55,-29,33,Lost 0-3 to Real Madrid Won 1-0 against Getaf...
18,19,Almeria,38,3,12,23,43,75,-32,21,Won 1-0 against Rayo Vallecano Lost 2-3 to Re...
19,20,Granada,38,4,9,25,38,79,-41,21,Lost 0-3 to Sevilla Lost 0-4 to Real Madrid ...

In [63]:
df = tables[0]

In [66]:
df['GP'].mean()

38.0

In [67]:
df['GP'].median()

38.0

In [68]:
df['GD'].mean()

0.0

In [69]:
df.to_csv("teams.csv")

In [75]:
df.to_csv("teams.csv", index=False)